.values-section {
    /* background: url('/src/assets/gradient-1.png') no-repeat top right; */
    background-position: calc(100% + 15rem) calc(0rem - 8rem);
    background-size: contain;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-container {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    /* border: 2px red solid; */
    /* width: 100%; */
    margin: 0 7rem;
    gap: 32px;
}

.card {
    position: relative;
    display: flex;
    width: 384px;
    height: 384px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 16px;
    border-color: transparent;
    backdrop-filter: blur(50px);
    background: rgba(255, 255, 255, 0.05);
    overflow: hidden;
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 16px; /* Same as the .card */
    padding: 1px; /* The border width */
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.377),
        rgba(255, 0, 0, 0)
    );
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.card-icon {
    display: flex;
    justify-content: center;
    align-content: center;
}

.card-title {
    margin: 16px 0;
    font-size: 24px;
    font-weight: bold;
}

.card-description {
    width: 80%;
    font-size: 16px;
    text-align: center;
    color: #fff;
    text-align: center;
    font-family: Sora;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
}

.first-row {
    display: flex;
    gap: 2rem;
    justify-content: start;
}

.second-row {
    display: flex;
    gap: 2rem;
    width: 100%;
    justify-content: end;
}

.section-heading {
    /* border: 2px red solid; */
    max-width: 600px;
    text-align: start;
    color: #fff;
    margin-bottom: 5rem;
    margin-left: 14rem;
    display: flex;
    flex-direction: column;
    gap: 56px;
    /* width: 50%; */
}
