.our-partners-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 5rem 10rem;
}

.our-partners {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.our-partners img {
    max-width: 100px; /* Adjust the size as needed */
    margin: 10px;
}

.divider {
    background: rgba(255, 255, 255, 0.2);
    width: 100%;
    border: 1px rgba(255, 255, 255, 0.2) solid;
}
