.glassy-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(12px);
    padding: 2rem 4rem;
    text-align: center;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    margin: 2rem auto;
    width: 80%;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;

    position: relative;
    border-width: 1px;
    border-style: solid;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(50px);
    height: 557px;
    border-color: transparent;
    overflow: hidden;
}

.glassy-banner::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 16px; /* Same as the .card */
    padding: 1px; /* The border width */
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.377),
        rgba(255, 0, 0, 0)
    );
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.glassy-banner:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 45px rgba(0, 0, 0, 0.15);
}

.glassy-banner h1 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 1.3;
}

.join-button {
    background-color: #ff4081;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    outline: none;
    margin-top: 1rem;
}

.join-button:hover {
    background-color: #e03565;
}

.newsletter-section {
    background: url('/src/assets/gradient-2.png') no-repeat;
    background-size: cover;
}
