@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;700&display=swap');

#boilerplate {
    display: flex;
    align-items: center;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: none;
}

body {
    background-color: #070709;
    color: white;
    font-family: 'Sora', sans-serif;
}
