@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;500;600;700&display=swap');
@import './scrollbar-styles.css';

* {
    margin: 0;
    padding: 0;
    user-select: cursor;
    box-sizing: border-box;
}

button {
    border: none;
}

body {
    background-color: black;
    color: white;
    font-family: 'Sora', sans-serif;
}

html {
    scrollbar-width: none;
    /* remove if you don't want to have bottom scrollbar */
}

ul,
li {
    list-style: none;
}

.parallax-hero {
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
    max-width: 1350px;
    margin: 0 auto;
    display: flex;
    /* border: 2px red solid; */
    position: absolute;
    /* max-width: ${({ video }) => (video ? '1350px' : '1300px')}; */
    left: 0;
    right: 0;
    top: -50px;

    @media (max-width: 1200px) {
        top: 50px;
    }
    @media (max-width: 991px) {
        top: 120px;
        /* margin-bottom: 100px; */
    }

    @media (max-width: 767px) {
        top: -100px;
    }

    @media (max-width: 560px) {
        top: 50px;
    }

    @media (max-width: 450px) {
        top: 150px;
    }
}

.parallax-tablet {
    flex: 0;
    flex-shrink: 0;
    left: -20px;
    /* margin-left: -90px; */
    z-index: 6;
    top: 230px;
    width: 75%;
    max-width: 1200px;
    position: absolute;

    @media (max-width: 991px) {
        position: static;
        margin-left: -50px;
        left: 0;

        /* width: 170%; */
        /* width: 150%; */
        /* margin-left: 45%; */
    }
}

.parallax-tablet-small {
    overflow: hidden;
    width: calc(100% + 112px);
    display: none;
    /* margin-left: 112px; */
    /* width: 100%; */
    /* border: 2px red solid; */

    @media (max-width: 991px) {
        display: flex;
        /* margin-left: 112px; */
    }

    @media (max-width: 830px) {
        width: calc(100% + 64px);
    }

    @media (max-width: 767px) {
        width: calc(100% + 16px);
        /* margin-left: 16px; */
    }
}
